/*reser css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  height: 46px;
  background-color: black;
}

#nav {
  display: inline-block;
}
#nav li {
  position: relative;
}
#nav .subnav li:hover a,
#nav > li > a {
  color: white;
  background-color: black;
}
#nav > li {
  display: inline-block;
}
#nav li a {
  color: azure;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav > li > a {
  text-transform: uppercase;
}
#nav li:hover a {
  color: black;
  background-color: aqua;
}
#nav li:hover .subnav {
  display: block;
}
#nav .nav-arrow-down {
  font-size: 14px;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: rgb(19, 15, 8);
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#header {
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 1;
}
#header .search-btn {
  float: right;
  line-height: 46px;
  color: white;
  padding: 0 20px;
  cursor: pointer;
}
#header .search-btn:hover {
  color: rgb(0, 255, 38);
  background-color: red;
}
#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/assets/img/slider1/la.jpg") top center/ cover no-repeat;
  position: relative;
}
#content {
  height: 1000px;
}
#slider .text-content {
  color: white;
  position: absolute;
  bottom: 46px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
}
#slider .text-description {
  font-size: 15px;
}
